<div class="da-panel collapsible">
  <div class="da-panel-header">
    <span class="da-panel-title">
      <img src="/assets/admin/images/icons/black/16/list.png" alt="" />
    </span>

  </div>
  <div class="da-panel-content">
    <table id="da-ex-datatable-default" class="da-table">
      <thead>
        <tr>
          <th>Banner Id</th>
          <th>Banner Image</th>
          <th>First Text</th>
          <th>Second Text</th>
          <th>Hide / Show</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @banner_images.each do |banner| %> 
          <tr>
        <td><%= banner.id %></td>
        <td><%= image_tag(banner.image.url(:thumb), height: "60", width: "80") %></td>
        <td><%= banner.image_description.html_safe %></td>
        <td><%= banner.small_description.try(:html_safe) %></td>
        <td>
        <% if(banner.visible == true) %>
          <%= link_to "Hide", visible_admin_banner_path(:id => banner.id, :visible => false), method: :put %>
        <% else %>
          <%= link_to "Show", visible_admin_banner_path(:id => banner.id, :visible => true), method: :put %>
        <% end %>  
        </td>
            <td class="da-icon-column">
              <%= link_to admin_banner_path(banner.id) do %>
                <img src="/assets/admin/images/icons/color/magnifier.png" />
              <% end %>

              <%= link_to edit_admin_banner_path(banner.id) do %>  
                <img src="/assets/admin/images/icons/color/pencil.png" />
              <% end %>

              <%= link_to admin_banner_path(banner.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <img src="/assets/admin/images/icons/color/cross.png" />
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>   