<div class="da-container clearfix">

  <!-- Logo Container. All images put here will be vertically centere -->
  <div id="da-logo-wrap">
    <div id="da-logo">
      <div id="da-logo-img">
        <%= link_to admin_dashboards_path do %>
          <img src="/assets/rosara2.png" alt="Rosara Homes" />
        <% end %>
      </div>
    </div>
  </div>

  <!-- Header Toolbar Menu -->
  <!-- Header Toolbar Menu -->
  <div id="da-header-toolbar" class="clearfix">
    <div id="da-user-profile">
      <div id="da-user-avatar">
        <img src="/assets/admin/images/admin_pic.jpg" alt="" />
      </div>
      <div id="da-user-info">
       <% if current_admin %>
           <%= current_admin.first_name + " " + current_admin.last_name %>
        <% end %>
        <span class="da-user-title">Super Admin</span>
      </div>
      <ul class="da-header-dropdown">
        <li class="da-dropdown-caret">
          <span class="caret-outer"></span>
          <span class="caret-inner"></span>
        </li>
        <li class="da-dropdown-divider"></li>
        <li><%= link_to "Dashboards", admin_dashboards_path %></li>
        <li class="da-dropdown-divider"></li>
        <li><%= link_to "Profile", 'admin_profiles_path' %></li>
        <li><%= link_to "Setting", 'setting_admin_profiles_path' %></li>
        <li><%= link_to "Change Password", 'edit_passcode_admin_profiles_path' %></li>
      </ul>
    </div>
    <div id="da-header-button-container">
      <ul>
        <li class="da-header-button logout">
          <%=link_to("Log Out", destroy_admin_session_path, :method => :delete)%>
        </li>
      </ul>
    </div>
  </div>

</div>